<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Administração</title>
</head>
<body>
    <div class="wrapper">
        <a href="/" class="back-link">Voltar para a Página Inicial</a>
        <div class="display">

            <!-- Tabela de Quartos -->
            <div class="table-container-1">
                <table class="hotel-table">
                    <caption>
                        <div class="hd">
                            <h1>Quartos de Hotel</h1>
                            <button class="btn-add">Adicionar</button>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do Quarto</th>
                            <th>Nº Quarto</th>
                            <th>Preço</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% quartos.forEach(quarto => { %>
                        <tr>
                            <td><%= quarto.id_quarto %></td>
                            <td><%= quarto.tipoQuarto %></td>
                            <td><%= quarto.numeroQuarto %></td>
                            <td>R$ <%= quarto.valor_quarto %></td>
                            <td><%= quarto.statusQuarto %></td>
                            <td>
                                <button class="btn-update">Atualizar</button>
                                <button class="btn-remove">Remover</button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <!-- Tabela de Reservas -->
            <div class="table-container-2">
                <table class="reservations-table">
                    <caption>
                        <div class="hd">
                            <h1>Reservas</h1>
                            <button class="btn-add">Adicionar</button>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do Cliente</th>
                            <th>CheckOUT</th>
                            <th>Nº Quarto</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservas.forEach(reserva => { %>
                        <tr>
                            <td><%= reserva.id_reserva %></td>
                            <td><%= reserva.nome_completo %></td>
                            <td><%= reserva.dataCheckOut.toISOString().slice(0, 10) %></td>
                            <td><%= reserva.numeroQuarto %></td>
                            <td><%= reserva.statusReserva %></td>
                            <td>
                                <button class="btn-update">Atualizar</button>
                                <button class="btn-remove">Remover</button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</body>
</html>
