<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <div class="home">
            <%- include('partials/header') %>

            <section class="banner">
                <img src="images/banner.jpg" alt="Banner">
                <div class="banner-text">
                    <h1>Reserve seu quarto agora!</h1>
                    <p>Reserve seu quarto com antecedência <br> nos melhores locais com os melhores preços!</p>
                    <button onclick="window.location.href='/reservas';">Reservar agora</button>
                </div> 
            </section>
    
            <section class="promoções">
                <h2 id="promo">Promoções</h2>
                <div class="cards">
                    <% if (quartos.length > 0) { %>
                        <% quartos.forEach(quarto => { %>
                            <div class="card">
                                <img src="images/quartohotel.jpg" alt="Quarto">
                                <h4><%= quarto.tipoQuarto %></h4>
                                <p>A partir de R$ <%= quarto.valor_quarto %>/noite</p>
                                <button onclick="window.location.href='/quarto/<%= quarto.id_quarto %>';">Ver Mais</button>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Nenhum quarto disponível no momento.</p>
                    <% } %>
                </div>
                <button onclick="window.location.href='/reservas';">Ver todas as reservas!</button>
            </section>
    
            <%- include('partials/footer') %>
        </div>
    </div>
</body>
</html>
