<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <div class="container room-container">
            <div class="room-details">
                <img src="/images/quartohotel.jpg" alt="Imagem do Quarto" class="room-image">
                <div class="room-description">
                    <h2><%= quarto.tipoQuarto %></h2> 
                    <p><%= quarto.descricao %></p> 
                    <p>Preço por noite: <strong>R$ <%= quarto.valor_quarto %></strong></p>
                    <br>
                    <p><strong><%= quarto.nome_hotel %></strong>, <%= quarto.endereco_hotel %> <br> <%= quarto.cidade_hotel %> - <%= quarto.estado_hotel %></p>
                    <button class="book-room" data-id="<%= quarto.id_quarto %>" data-type="<%=quarto.tipoQuarto%>" data-value="<%=quarto.valor_quarto%>" data-hotel="<%= quarto.id_hotel %>">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
    </div>

    <script>
        // Captura o evento de clique no botão "Adicionar ao Carrinho"
        document.querySelector('.book-room').addEventListener('click', async function () {
            // Extrai os dados do quarto a partir dos atributos data-*
            const idQuarto = this.dataset.id;
            const tipoQuarto = this.dataset.type;
            const valor_quarto = this.dataset.value;
            const idHotel = this.dataset.hotel;

            try {
                // Faz uma requisição POST para o backend com os dados do quarto
                const response = await fetch('/carrinho', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        idQuarto,
                        tipoQuarto,
                        valor_quarto,
                        idHotel,
                    }),
                });

                if (response.ok) {
                    alert('Quarto adicionado ao carrinho com sucesso!');
                } else {
                    alert('Falha ao adicionar o quarto ao carrinho.');
                }
            } catch (err) {
                console.error('Erro ao adicionar ao carrinho:', err);
                alert('Erro ao adicionar o quarto ao carrinho.');
            }
        });
    </script>
</body>
</html>
