<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <div class="container room-container">
            <div class="room-details">
                <img src="/images/quartohotel.jpg" alt="Imagem do Quarto" class="room-image">
                <div class="room-description">
                    <h2><%= quarto.nome_quarto %></h2> <!-- Nome do quarto -->
                    <p><%= quarto.descricao %></p> <!-- Descrição do quarto -->
                    <p>Preço por noite: <strong>R$ <%= quarto.preco %></strong></p> <!-- Preço -->
                    <button class="book-room">Reservar Quarto</button>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
    </div>
</body>
</html>
