<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <section class="reservas">
            <h2 id="reserva">Reserve agora o seu quarto!</h2>
            <div class="cards">
                <% if (reservas.length > 0) { %>
                    <% reservas.forEach(reserva => { %>
                        <div class="card">
                            <img src="images/quartohotel.jpg" alt="Quarto">
                            <h4><%= reserva.tipoQuarto %></h4>
                            <p>A partir de R$ <%= reserva.valor_quarto %>/noite</p>
                            <button onclick="window.location.href='/quarto/<%= reserva.id_quarto %>';">Ver Mais</button>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>Nenhum quarto disponível no momento.</p>
                <% } %>
            </div>
        </section>

        <%- include('partials/footer') %>
    </div>
</body>
</html>